


*{
    margin: 0;
    padding: 0;
    border: 0;
}

.titulo{
    display: inline-flex;
    align-items: center;
    color: #F2F2F2;
    height: 4vh;
    margin: 7px;
}

.escrever{
   
}

.foto1{ 
    display:block;
    flex-direction: column-reverse ;
    font-size: 15px;
    width: 30vw;
    height: 20vh;
    background-color: #FE7F3A;
    border: 1px solid black;
    border-radius: 10px;

}

main{
    display: flex ;
    width:100%;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
   
}








