{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Pagina Inicial {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'esporte/css/styles.css' %}">
    
</head>

<body>
    <aside>

        <button class="menu-btn fa fa-chevron-left"></button>

        <a href="/" class="logo-wrapper">

            <span class="fa-solid fa-medal"></span>

            <span class="brand-name">Nome do blog</span>

        </a>

        <div class="separator"></div>

        <ul class="menu-items">

            <li><a href="#"><span class="icon fa fa-house"></span><span class="item-name">Home</span></a><span
                    class="tooltip">Home</span>

            </li>

            <li><a href="#"><span class="icon fa-solid fa-futbol"></span><span class="item-name">Futebol</span></a>

                <span class="tooltip">Pesquisar</span>

            </li>

            <li><a href="#"><span class="icon fa-solid fa-volleyball"></span><span class="item-name">Volei</span></a>

                <span class="tooltip">análise</span>

            </li>

            <li><a href="#"><span class="icon fa-solid fa-basketball"></span><span class="item-name">Basquete</span></a>

                <span class="tooltip">tabela de classificação</span>

            </li>

            <li><a href="#"><span class="icon fa fa-user"></span><span class="item-name">Conta</span></a>

                <span class="tooltip">Account</span>

            </li>

            <li><a href="#"><span class="icon fa fa-gear"></span><span class="item-name">Configuracao</span></a>

                <span class="tooltip">Settings</span>

            </li>

            <li><a href="#"><span class="icon fa fa-comment-dots"></span><span class="item-name">Contato</span></a>

                <span class="tooltip">Contact</span>

            </li>

        </ul>

    </aside>

    <main></main>
    <script src="{% static 'esporte/js/scripts.js' %}"></script>
</body>

</html>