{% extends "base.html" %}
{% load static %}

{% block title %} Basquete {% endblock %}

{% block content %}
    
<link rel="stylesheet" href="{% static 'esporte/css/art.css' %}">



<main>
  <h1 class="titulo"> Basquete </h1>
    
    </tr>
    </tr>

  <div>

    <img class="foto1" src="knicks.png" alt="NY KNICKS" width="200" heigth="300">


    <p class = "escrever"> O New York Knickerbockers, mais conhecido apenas por New York Knicks, é uma equipe fundada em 1946 e uma das mais tradicionais e valiosas da NBA.
    Os Knicks foram fundadores da Basketball Association of America (BAA), que se tornou a NBA depois de se fundir com a rival National Basketball League (NBL) em 1949.
    Junto com o Boston Celtics, o New York Knicks é um dos dois únicos times originais da NBA que seguem na mesma cidade. Os duelos diante de sua torcida são disputados no lendário Madison Square Garden<p> 
    
  </div>
    
    </tr>
    </tr>

  <div>

    <img src="boston.png" alt="Boston" width="200" heigth="300">
    
    

    <p>O Celtics foi criado em 6 de junho de 1946. Inicialmente, a franquia fazia parte da Basketball Association of America (BAA), que passou a adotar o nome de National Basketball Association (NBA)em 1949, após a fusão com a National Basketball League (NBL). 
    Celtics e New York Knickssão os dois únicos times originais da NBA que seguem na mesma cidade. </p>
  <div>

    </tr>
    </tr>

  <div>  

    <img src="bulls.png" alt="Bulls" width="200" heigth="300">


    <p> O Chicago Bulls foi fundado em 16 de janeiro de 1966, quando a cidade recebeu uma nova franquia de expansão da NBA. 
    Antes dos Bulls, Chicago já havia abrigado outras duas equipes da liga: o Chicago Stags, que existiu entre 1946 e 1950, 
    e o Chicago Packers/Zephyrs, que jogou entre 1961 e 1963, sendo hoje o Washington Wizards</p>
  
    </div>  

    </tr>
    </tr>

  <div>  

    <img src="wizard.png" alt="Wizard" width="200" height="300">

    <p> A franquia foi fundada em 1961 como o Chicago Packers com sede em Chicago, Illinois, e foi renomeada para Chicago Zephyrs na temporada seguinte. Em 1963, eles se mudaram para Baltimore, Maryland, e se tornaram os Baltimore Bullets. Em 1973, 
    a equipe mudou seu nome para Capital Bullets para refletir sua mudança para a área metropolitana de Washington, e depois para Washington Bullets na temporada seguinte. Em 1997, eles renomearam-se como os Wizards.</p>
  <div>

</main>
    
    
    
</body>
</html>

    {% endblock %}

